#wrap{
    width:100%;
    height:100%;}


#btnHover1{
position: fixed;
box-sizing: content-box;
cursor: pointer;
width: 100px;
height: 50px;
left: 50px;
top: 30px;
background: yellow;
color:black;
text-align: center;
border: 2px solid #000000;
box-shadow: inset 0 0 0 100px rgba(148, 110, 110, 0.6);
border-radius: 10px;
}

.backGround{
margin:0 auto;
padding:20px 10px 20px 10px;
width: 800px;
height: 800px;
background: beige;}

.photo{
    width: 300px;
    height:300px;
    border-radius: 100%;
    background-color: whitesmoke;
    text-align: center;
    line-height: 300px;
    margin: 30px;

    
}
#button{
    background-color:beige;
}

.status{
    width: 350px;
    height: 280px;
    text-align: left;
    padding: auto;
    margin: auto;
    color:black;

}
.cardBox{
    background-color: green;
    width:230px;
    height: 200px;
    border-radius: 10px;
    margin: 20px;
    text-align: center;
    line-height: 200px;
    color:white;
}
.layer{
    display:flex;
    
}
.post{
    text-align: justify;
}
#boxList{
    display:flex;
}